@import "tailwindcss";

@theme {
  /* This tells Tailwind v4 to generate all the bg-brand-terracotta and text-brand-terracotta classes automatically */
  --color-brand-cream: #FDFBF7;
  --color-brand-terracotta: #E2725B;
  --color-brand-dark: #2A2A2A;
  
  /* Link our custom fonts */
  --font-heading: var(--font-playfair);
  --font-arabic: var(--font-amiri);
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-dark);
}
